<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">
          Noob Saga's ongoing tale.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/3.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>May 2020</h4>
                <h4 class="subheading">Noob's First App</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  The noobs still have extra time which resulted into them
                  creating their first application that will conquer the world.
                  Though it is just a small project, everything must start with
                  something, right?
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/4.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>April 2020</h4>
                <h4 class="subheading">Noob Saga is born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Noob Saga was founded due to boredom because of the lockdown
                  caused by the Covid-19 pandemic. Lots of free time were
                  available and the noobs decided to use their time to something
                  useful.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
